.toggle-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background:transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    background-color: #cc1818;
    top: 80px;
}

.toggle-btn:focus{
    outline: none;
}

.toggle-btn_line{
    width: 30px;
    height: 3px;
    background: white;
}